.add {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add .add-task {
  background-color: #ffffff;
  width: 1600px;
  height: 700px;
  position: relative;
}

.add .make-task {
  display: flex;
  flex-wrap: wrap;
  width: 682px;
  height: 67px;
  align-items: center;
  justify-content: center;
  gap: 35px 35px;
  padding: 29px 0px;
  position: absolute;
  top: 546px;
  left: 459px;
  background-color: #425e8a;
}

.add .input-field {
  position: relative;
  width: 454px;
  height: 67px;
  margin-top: -29px;
  margin-bottom: -29px;
  background-color: #d9d9d930;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.add .add-button {
  display: flex;
  width: 130px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 34px 91px;
  position: relative;
  margin-top: -15.5px;
  margin-bottom: -15.5px;
  background-color: #c9c5c5;
  all: unset;
  box-sizing: border-box;
}

.add .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -24px;
  margin-bottom: -22px;
  margin-left: -42.5px;
  margin-right: -42.5px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.add .task-box {
  display: flex;
  flex-direction: column;
  width: 681px;
  height: 439px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 87px;
  left: 459px;
  background-color: #375076e8;
}

.add .frame {
  width: 614px;
  gap: 49px;
  flex: 0 0 auto;
  margin-left: -6.5px;
  margin-right: -6.5px;
  display: flex;
  align-items: center;
  position: relative;
}

.add .div-wrapper {
  width: 422px;
  height: 48px;
  gap: 10px;
  padding: 23px 0px 23px 36px;
  background-color: #c9c5c5;
  display: flex;
  align-items: center;
  position: relative;
}

.add .div {
  position: relative;
  width: fit-content;
  margin-top: -9px;
  margin-bottom: -7px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.add .group {
  position: relative;
  width: 47px;
  height: 49px;
  background-color: #c9c5c5;
  border-radius: 10px;
}

.add .img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
}
