.task-1 {
  position: relative;
  font-weight: 500;
}
.task1-text {
  background-color: var(--color-silver);
  width: 422px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 var(--padding-4xl) 36px;
  box-sizing: border-box;
}
.task1-text:hover {
  background-color: rgba(92, 171, 191, 0.39);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.done-icon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 15px);
  left: calc(50% - 14.5px);
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 0;
}
.done-task {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-5xs);
  background-color: var(--color-silver);
  border-radius: var(--br-3xs);
  width: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.trash-can-icon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.delete-task,
.task1 {
  display: flex;
  justify-content: center;
}
.delete-task {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-5xs);
  background-color: var(--color-silver);
  border-radius: var(--br-3xs);
  width: 47px;
  height: 49px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.task1 {
  flex: 1;
  width: 614px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  gap: 49px;
}
.task-box {
  background-color: rgba(55, 81, 119, 0.91);
  height: 439px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px;
  box-sizing: border-box;
}
.input-field {
  border: 0;
  background-color: rgba(217, 217, 217, 0.19);
  position: relative;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 454px;
  height: 67px;
}
.add {
  margin: 0;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.add-button,
.home,
.make-task {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.add-button {
  cursor: pointer;
  border: 0;
  padding: 34px 91px;
  background-color: var(--color-silver);
  width: 130px;
  height: 40px;
  flex-direction: row;
}
.home,
.make-task {
  overflow: hidden;
}
.make-task {
  background-color: #425f8a;
  width: 682px;
  height: 154px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 29px 0;
  gap: 35px;
}
.home {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 737px;
  flex-direction: column;
  padding: 0 459px 87px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .task1-text {
    width: 200px;
  }
  .done-task {
    flex: 1;
  }
  .delete-task {
    width: 30px;
  }
  .task1 {
    width: 400px;
    flex-direction: row;
    gap: 30px;
    padding: 5px;
    box-sizing: border-box;
  }
  .task1:hover {
    background-color: rgba(105, 158, 186, 0.25);
  }
  .task-box {
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  .input-field {
    width: 300px;
  }
  .add-button {
    width: 40px;
  }
  .make-task {
    width: 400px;
    height: 200px;
    gap: var(--gap-xl);
  }
}
