*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%; height: 100vh;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 20px;
    margin: auto; margin-top: 50px;
    width: 520px;
    height: 499px;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 0px;
    border: 2px solid #AEC9FD;
    background: rgba(71, 107, 178, 0.53);
    box-shadow: 0px 0px 190px 3px rgba(156, 139, 240, 0.556) inset, 0px 0px 13px 1px rgba(255, 255, 255, 0.25);
    padding-bottom: 10px;
}

.tasklistbox
{
    display: flex;
    justify-content: center; align-items: center;
    width: 355px;
    height: 424px;
    flex-shrink: 0;
    background: rgba(71, 107, 178, 0.051);
    box-shadow: 0px 0px 40px 1px #c0c4e0 inset;
    overflow: hidden;
}
.tasklist
{
    display: flex;
    width: 350px; height: 300px;
    flex-direction: column;
    justify-content: center; align-items: center;
    padding: 40px; row-gap: 15px;
    overflow-y: scroll; overflow-x: hidden;
    flex-wrap: nowrap;
    overflow: auto;

}
.tasklist::-webkit-scrollbar
{
    display: none;
}
.listbox
{
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}
.listbox button
{
    display: block;
    text-align: center;
    padding: 5px 10px;
    border: solid 1px grey;
}
.tasklist li
{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 1.1rem;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(rgba(97, 97, 212, 0.848),rgba(50, 50, 124, 0.886));
    margin-right: 15px;
}
.icon-box
{
    display: flex;
    width: fit-content; height: 424px;
    justify-content: center;
    align-items: center;
}
.icons
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 300px;
    justify-content: center; align-items: center;
    padding: 40px 0px 40px 0px ;
    column-gap: 10px;
    overflow-y: scroll; overflow-x: hidden;
    flex-wrap: nowrap;
    border-radius: 58px 59px 0px 0px;
}

.icons::-webkit-scrollbar
{
    display: none;
}

.buttons-group
{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.buttons-group 
{
    display: flex;
    column-gap: 10px;
}

.buttons{
    display: flex;
}
.buttons button
{
    display: block;
    text-align: center;
    padding: 10px 15px;
    border: solid 1px grey;
}

.inputbox
{
    display: flex;
    align-items: center;
    margin: auto; margin-top: 10px;
    width: 520px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 0px 0px 14px 14px;
    border: 0px solid #9BBDFF;
    background: rgba(43, 64, 107,0.95);
    box-shadow: 0px 0px 33px 3px #312E6F inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    padding: 10px;
}
.inputbox textarea
{
    display: block;
    margin: auto;
    height: 100%; width: 75%;
    border: none;
    background: none;
    outline: none;
    font-size: 1.3rem; color: white; font-style: bold;
    text-transform: capitalize;
    overflow: hidden;
    resize: none;
}
.inputbox button
{
    display: flex;
    justify-content:center ;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    font-size: 1rem; 
    width: 70px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #008FF6;
    background: linear-gradient(180deg, rgba(75, 102, 156, 0.84) 0%, rgba(53, 74, 117, 0.57) 100%);
    box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.27) inset;
    padding: 20px;
    cursor: pointer;
}
.inputbox button:hover
{
    box-shadow: 0px 4px 6px 1px rgb(0, 0, 0, 0.27) inset;
    
}
/* li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}
 */